{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="column-left">
        <canvas style="padding: 32px;"></canvas>
    </div>
    <div class="column-right" style="background-color: lightgray; padding: 3rem">
        {% include 'select_model.html' %}
        <div class="grid-container">
            <div class="grid-item">Amount cells (rows)</div>
            <div class="grid-item">
                <input type="number" id="cells_height" value="180">
            </div>
            <div class="grid-item">Amount cells (columns)</div>
            <div class="grid-item">
                <input type="number" id="cells_width" value="180">
            </div>
            <div class="grid-item">Cell size (px)</div>
            <div class="grid-item">
                <input type="number" id="cell_size" value="4">
            </div>
            <div class="grid-item">Tell gossip probabliliy (in %; multiplies per neigbours)</div>
            <div class="grid-item">
                <input type="number" id="tell_gossip_prob" value="25">
            </div>
            <div class="grid-item">Convince threshold (min / max)</div>
            <div class="grid-item">
                <div style="display: flex; gap: 10px;">
                    <div>(</div>
                    <input type="number" id="convince_threshold_min" value="5" min="0" max="8">
                    <div>/</div>
                    <input type="number" id="convince_threshold_max" value="5" min="0" max="8">
                    <div>)</div>
                </div>
            </div>
            <i style="font-size: 12px;">
                The random number out of this range (min and max included) is the threshold, 
                that must be exceeded to convince the cell from the other opinion. Calculated again for each cell in each step.
            </i>
        </div>
        <br>
        <div style="display: flex; gap: 12px">
            <button type="button" onclick="loadAndStart()">Reload & start setup</button>
            <div id="loading" class="loader" style="display: none"></div>
        </div>
        <br>
        <hr>
        <div style="display: flex; gap: 12px">
            <button type="button" onclick="tooglePause()">Pause/Resume</button>
            <input type="range" min="1" max="1000" value="200" class="slider" id="animationSpeed">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/majority_model/canvas.js' )}}"></script>
<script>
    async function loadAndStart() {
        document.getElementById('loading').style.display = "block";
        tell_gossip_prob = parseInt(document.getElementById('tell_gossip_prob').value);
        cells_height = parseInt(document.getElementById('cells_height').value);
        cells_width = parseInt(document.getElementById('cells_width').value);
        cell_size = parseInt(document.getElementById('cell_size').value);
        convince_threshold_min = parseInt(document.getElementById('convince_threshold_min').value);
        convince_threshold_max = parseInt(document.getElementById('convince_threshold_max').value);
        await new Promise(r => setTimeout(function(){
            init();
            document.getElementById('loading').style.display = "none";
            animate();
        }, 0));
    }

    function tooglePause() {
        isPaused = !isPaused;
    }

    var slider = document.getElementById("animationSpeed");
    animationTimeout = 1000 - slider.value;
    slider.oninput = function() {
        animationTimeout = 1000 - this.value;
        console.log(animationTimeout);
    }
</script>

{% endblock %}